{
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "createClass": "createClass",
      "pragma": "React",
    }
  },
  "rules": {
    "object-curly-spacing": [2, "always"],
    "object-shorthand": [2, "always"],
    "padded-blocks": [2, {"switches": "always", "classes": "never", "blocks": "never"} ],
    "one-var": 0,
    "quote-props": 0,
    "no-console": 1,
    "arrow-body-style": 0,
    "quotes": [2, "single"],
    "dot-location": [2, "property"],
    "arrow-parens": 0,
    "no-magic-numbers": [1, {"ignore": [1, 0 ] } ],
    "object-property-newline": [2, {"allowMultiplePropertiesPerLine": true } ],
    "object-curly-newline": 0,
    "eol-last": 0,
    "indent": [2, 2, { "SwitchCase": 1 } ],
    "sort-imports": 0,
    "brace-style": [2, "stroustrup", {"allowSingleLine": true } ],
    "no-ternary": 0,
    "operator-linebreak": [2, "before", {"overrides": {"?": "after"} } ],
    "max-len": [2, 120, { "ignoreComments": true } ],
    "max-statements": [1, {"max": 12 } ],
    "no-unused-vars": 1,
    "no-warning-comments": 1,
    "no-inline-comments": 0,
    "no-extra-parens": [2, "all", { "conditionalAssign": false }],
    "id-length": [2, { "exceptions": ["x", "y", "a", "b", "i"]}],
    "no-var": 2,
    "prefer-template": 2,
    "multiline-ternary": 0,
    "no-confusing-arrow": [0, {"allowParens": true } ],

    "func-names": 0,
    "prefer-arrow-callback": 2,
    "sort-keys": 0,
    "new-cap": 1,

    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
  },
  "extends": "eslint:all",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": false
  }
}
